@model waGimnasio.Models.Departamento

@{
    ViewData["Title"] = "Create";
}

<style>
    .section {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        padding: 50px 0;
    }

    .content-container {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
        font-family: Arial, sans-serif;
    }

        .content-container h1 {
            font-size: 36px;
            margin-bottom: 20px;
        }

    .form-container {
        max-width: 400px;
        margin: 20px auto;
        text-align: left;
        font-family: Arial, sans-serif;
    }

        .form-container .form-group {
            margin-bottom: 20px;
        }

        .form-container label {
            font-weight: bold;
        }

        .form-container .form-control {
            font-size: 16px;
            max-width: 100%;
        }

    .actions-container {
        margin-top: 20px;
    }

        .actions-container .btn-primary {
            margin-right: 10px;
            font-size: 16px;
        }

        .actions-container .action-link {
            font-size: 16px;
            color: #007bff;
            text-decoration: none;
        }
</style>

<div class="section">
    <div class="content-container">
        <h1>Create</h1>

        <h4>Departamento</h4>
        <hr />

        <div class="form-container">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

                @if (!string.IsNullOrEmpty(ViewBag.Mensaje))
                {
                    <div class="text-danger">
                        <label class="text-danger">@ViewBag.Mensaje</label>
                    </div>
                }

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>

        <div class="actions-container">
            <a asp-action="Index" class="action-link">Back to List</a>
        </div>
    </div>
</div>
